<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
      data-namespace-typo3-fluid="true">

<f:layout name="Detail.html" />

<!--
	=====================
		News/Detail.html
-->
<f:section name="content">
    <article class="uk-article">
	<f:if condition="{newsItem}">
		<f:then>

            <f:if condition="{settings.backPid}">
                <div class="uk-margin-bottom">
                    <!-- Link Back -->
                    <f:link.page pageUid="{settings.backPid}" class="uk-button uk-button-default ">
                        <span uk-icon="icon: reply"></span> <f:translate key="back-link" />
                    </f:link.page>
                </div>
            </f:if>

			<n:format.nothing>
				<f:if condition="{newsItem.alternativeTitle}">
					<f:then>
						<n:titleTag>
							<f:format.htmlentitiesDecode>{newsItem.alternativeTitle}</f:format.htmlentitiesDecode>
						</n:titleTag>
					</f:then>
					<f:else>
						<n:titleTag>
							<f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode>
						</n:titleTag>
					</f:else>
				</f:if>
				<f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
			</n:format.nothing>

            <h1 class="uk-article-title">{newsItem.title}</h1>

			<p class="uk-article-meta">
                <!-- date -->
                <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>

                <!-- author -->
                <f:if condition="{newsItem.author}">
                    <f:if condition="{newsItem.authorEmail}">
                        <f:then>
                            <f:link.email email="{newsItem.authorEmail}"><f:translate key="author" arguments="{0:newsItem.author}" /></f:link.email>
                        </f:then>
                        <f:else>
                            <f:translate key="author" arguments="{0:newsItem.author}" />
                        </f:else>
                    </f:if>
                </f:if>
                <a href="#Share{newsItem.uid}" title="Share" uk-toggle="#Share{newsItem.uid}" uk-tooltip uk-icon="icon: social"></a>
                <f:render partial="DN/Share" arguments="{_all}" />
			</p>

            <hr />

            <f:comment>
			<f:if condition="{newsItem.teaser}">
				<!-- teaser -->
				<div class="teaser-text">
					<f:format.html>{newsItem.teaser}</f:format.html>
				</div>
			</f:if>
            </f:comment>

            <div uk-lightbox uk-grid>
                <f:if condition="{newsItem.falMedia -> f:count()} <= '1'" >
                    <f:then>
                        <div class="uk-width-1-1@s uk-width-3-4@m" >
                            <f:if condition="{newsItem.contentElements}">
                                <!-- content elements -->
                                <f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
                            </f:if>

                            <!-- main text -->
                            <div class="news-text-wrap">
                                <f:format.html>{newsItem.bodytext}</f:format.html>
                            </div>
                        </div>
                        <div class="uk-width-1-1@s uk-width-1-4@m" >
                            <f:render partial="Detail/MediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
                        </div>
                    </f:then>
                    <f:else>
                        <div class="uk-width-1-1 " >
                            <f:if condition="{newsItem.contentElements}">
                                <!-- content elements -->
                                <f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
                            </f:if>

                            <!-- main text -->
                            <div class="news-text-wrap">
                                <f:format.html>{newsItem.bodytext}</f:format.html>
                            </div>
                        </div>
                        <div class="uk-width-1-1 uk-section-small" >
                            <f:render partial="Detail/MediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
                        </div>
                    </f:else>
                </f:if>
            </div>

			<!-- related things -->
			<div class="uk-child-width-1-3 NewsRelated" uk-grid>
                <f:if condition="{newsItem.allRelatedSorted}">
                    <!-- Related news records -->
                    <div class="uk-panel uk-panel-header">
                        <h2>
                            <f:translate key="related-news" />
                        </h2>
                        <hr />
                        <ul class="uk-list uk-list-striped">
                            <f:for each="{newsItem.allRelatedSorted}" as="related">
                                <li>
                                    <span class="news-related-news-date"><f:format.date format="{f:translate(key:'dateFormat')}">{related.datetime}</f:format.date></span>
                                    <n:link newsItem="{related}" settings="{settings}" title="{related.title}">
                                        {related.title}
                                    </n:link>
                                </li>

                            </f:for>
                        </ul>
                    </div>
                </f:if>

                <f:if condition="{newsItem.allRelatedSorted}">
                    <!-- Related files -->
                    <div class="uk-panel uk-panel-header">
                        <h2 class="uk-panel-title">
                            <f:translate key="related-news" />
                        </h2>
                        <hr />
                        <ul class="uk-list uk-list-divider">
                            <f:for each="{newsItem.allRelatedSorted}" as="related">
                                <li>
                                    <span class="news-related-news-date"><f:format.date format="{f:translate(key:'dateFormat')}">{related.datetime}</f:format.date></span>
                                    <n:link newsItem="{related}" settings="{settings}" title="{related.title}">
                                        {related.title}
                                    </n:link>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                </f:if>

                <f:if condition="{newsItem.falRelatedFiles}">
                    <!-- FAL related files -->
                    <div class="uk-panel uk-panel-header">
                        <h2 class="uk-panel-title">
                            <f:translate key="related-files" />
                        </h2>
                        <hr />
                        <ul class="uk-list uk-list-divider">
                            <f:for each="{newsItem.falRelatedFiles}" as="relatedFile">
                                <li>
                                    <a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}" target="_blank">
                                        {f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
                                    </a>
                                    |
                                    {relatedFile.originalResource.size -> f:format.bytes()}
                                </li>
                            </f:for>
                        </ul>
                    </div>
                </f:if>

                <f:if condition="{newsItem.relatedLinks}">
                    <!-- Related links -->
                    <div class="uk-panel uk-panel-header">
                        <h2 class="uk-panel-title">
                            <f:translate key="related-links" />
                        </h2>
                        <ul class="uk-list uk-list-divider">
                            <f:for each="{newsItem.relatedLinks}" as="relatedLink">
                                <li>
                                    <f:link.page pageUid="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}</f:link.page>
                                    <f:if condition="{relatedLink.description}"><span>{relatedLink.description}</span></f:if>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                </f:if>
			</div>

            <div class="uk-child-width-1-2@s" uk-grid>
                <div>
                    <h3><f:translate key="tags" /></h3>
                    <f:if condition="{newsItem.tags}">
                        <!-- Tags -->
                        <f:for each="{newsItem.tags}" as="tag">
                            {tag.title}
                        </f:for>
                    </f:if>
                </div>
                <div>
                    <h3>Kategorie</h3>
                    <f:if condition="{newsItem.categories}">
                        <f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" />
                    </f:if>
                </div>
            </div>
		</f:then>
		<f:else>

		</f:else>
	</f:if>
    </article>
</f:section>