<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="uk-section uk-section-small uk-section-muted">
   <div class="uk-container">
      <h3>
         <f:translate key="change_password_header"/>
      </h3>
      <p>
         <f:translate key="change_password_message" arguments="{0: settings.newPasswordMinLength}"/>
      </p>
      <div class="uk-margin">
         <f:render partial="RenderLabelOrMessage" arguments="{key: 'reset_password'}"/>
      </div>
   </div>
</div>

<f:render partial="ValidationErrors"/>

<f:form action="changePassword" method="post" class="uk-form-stacked">
   <div class="uk-margin">
      <label class="uk-form-label">
         <f:translate key="newpassword_label1"/>
      </label>
      <div class="uk-form-controls">
         <f:form.password name="newPass" additionalAttributes="{autocomplete: 'new-password'}" class="uk-input"/>
      </div>
   </div>
   <div class="uk-margin">
      <label class="uk-form-label">
         <f:translate key="newpassword_label2"/>
      </label>
      <div class="uk-form-controls">
         <f:form.password name="newPassRepeat" additionalAttributes="{autocomplete: 'new-password'}" class="uk-input"/>
      </div>
   </div>
   <f:form.hidden name="hash" value="{hash}"/>
   <div class="uk-margin">
      <f:form.submit value="{f:translate(key: 'change_password')}"
                     class="uk-width-1-1 uk-width-1-2@s uk-button uk-button-primary"/>
   </div>
</f:form>

<p>
   <f:link.action action="login" controller="Login">
      <f:translate key="forgot_header_backToLogin"/>
   </f:link.action>
</p>
</html>
